<mat-toolbar class="toolbar">

  <div class="logo">
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="AdobeExpress.png" alt="Logo" class="logo">
    </button>
    <span class="titles">MaceTech</span>
  </div>

  <div class="buttons" style="font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">

    <button mat-fab extended  class="titles">
      <mat-icon class="material-symbols-outlined crown-icon">crown</mat-icon>
      Membresías
    </button>


    <button mat-fab extended class="titles" >
      <mat-icon class="material-symbols-outlined regular-icon">potted_plant</mat-icon>
      Macetas
    </button>

    <button mat-fab extended class="titles" >
      <mat-icon class="material-symbols-outlined regular-icon">notifications</mat-icon>
      Notificaciones
    </button>

    <button mat-fab extended  class="titles">
      <mat-icon class="material-symbols-outlined regular-icon">person</mat-icon>
      Perfil
    </button>
  </div>

</mat-toolbar>
