<div class="login-container">
  <mat-card appearance="outlined" class="form">
    <mat-card-content>
      <img src="" class="logo" width="50px" height="50px">
      <h1 class="title">Recuperar contraseña</h1>
      <mat-card-subtitle>
        No te preocupes, te ayudaremos a recuperar tu cuenta
        Introduce tu correo electronico para recibir instrucciones
      </mat-card-subtitle>

      <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="user-input">
        <div class="fields">
          <label class="labels" for="email">Correo electrónico</label>
          <mat-form-field appearance="outline">
            <input class="input" id="email" matInput placeholder="ejemplo@correo.com" formControlName="email" required>
            <mat-error *ngIf="email?.hasError('required')" class="error">El correo es obligatorio</mat-error>
            <mat-error *ngIf="email?.hasError('email')" class="error">Formato de correo inválido</mat-error>
          </mat-form-field>
        </div>

        <button mat-button class="log-in" [disabled]="recoverForm.invalid">
          Enviar enlace de recuperación
        </button>

        <mat-error *ngIf="errorMessage" class="credentials-error">
          {{ errorMessage }}
        </mat-error>
        <div *ngIf="successMessage" style="color: green; margin-top: 8px;">
          {{ successMessage }}
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
