<mat-toolbar class="toolbar">
  <div class="logo">
    <button mat-button class="example-icon" (click)="navigateToHome()" aria-label="Home">
      <img src="logo.png" alt="Logo" class="logo">
    </button>
    <span class="titles">{{ 'TOOLBAR.APP_NAME' | translate }}</span>
  </div>

  <div class="buttons" *ngIf="isSignedIn">
    <button
      mat-fab extended
      class="titles"
      routerLink="/membership"
      routerLinkActive="active-button">
      <mat-icon class="material-symbols-outlined"
                [class.crown-icon]="isPremiumUser"
                [class.regular-icon]="!isPremiumUser">
        {{ isPremiumUser ? 'crown' : 'crown' }}
      </mat-icon>
      {{ isPremiumUser ? ('TOOLBAR.MEMBERSHIP.PREMIUM' | translate) : ('TOOLBAR.MEMBERSHIP.DEFAULT' | translate) }}
    </button>

    <button
      mat-fab extended
      class="titles"
      routerLink="/pots"
      routerLinkActive="active-button">
      <mat-icon class="material-symbols-outlined regular-icon">potted_plant</mat-icon>
      {{ 'TOOLBAR.POTS' | translate }}
    </button>

    <button
      mat-fab extended
      class="titles"
      routerLink="/notifications"
      routerLinkActive="active-button">
      <mat-icon class="material-symbols-outlined regular-icon">notifications</mat-icon>
      {{ 'TOOLBAR.NOTIFICATIONS' | translate }}
    </button>

    <button
      mat-fab extended
      class="titles"
      routerLink="/profile"
      routerLinkActive="active-button">
      <mat-icon class="material-symbols-outlined regular-icon">person</mat-icon>
      {{ 'TOOLBAR.PROFILE' | translate }}
    </button>
  </div>
  <div class="language-switch">
    <button mat-button (click)="setLanguage('es')" >ES</button>
    <button mat-button (click)="setLanguage('en')" >EN</button>
  </div>
</mat-toolbar>
