<div class="container">
  <mat-dialog-content class="mat-typography">
    <h2 >Borrar Cuenta</h2>
    <p class="subtitle">¿Está seguro de que desea borrar su cuenta? Esta acción no se puede deshacer.</p>
    <form>
      <mat-dialog-actions class="button-row">
        <button class="save" mat-button mat-dialog-close (click)="deleteAccount()"  >Borrar cuenta</button>
        <button class="cancel"  mat-button [mat-dialog-close]="true">Cancelar</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content >

</div>

<style>
  .container{
    padding: .5rem;
    background-color: #f9f9f9;
    border-radius: 15px;
  }
  .subtitle{
    margin-top: 5px;
  }

  .button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .save{
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .cancel{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
</style>
