:host {
  display: block;
  width: 100%;
}

.mat-expansion-panel-header {
  background-color: #E4E4E7;
  color: #3B3C45;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: #F1C40F;
  color: #FFFFFF;
}

.faq-answer {
  padding: 0.5rem 1rem;
}
