:host {
  display: block;
  font-family: Roboto, sans-serif;
  color: #3B3C45;
  padding: 1rem;
}

mat-card {
  max-width: 400px;
  margin: 2rem auto;
  border: 1px solid #E4E4E7;
}

mat-card-title {
  background-color: #38865D;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

mat-card-content p {
  margin: 0.5rem 0;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions button {
  background-color: #38865D;
  color: white;
}

mat-card-actions button:hover {
  background-color: #296244;
}
